.container
{
    width: 1167px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.main__container
{
    width: 1167px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    // justify-content: center;
}
.section__container
{
    width: 1167px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto; 
    position: relative;
}