// Color
$primary-color:#FFFFFF;
$secondadry-color:#FFB548;
$background-btn:linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);

// Font-family
$font-primary:'Open Sans', sans-serif;
$font-secondary: 'Bebas Neue', sans-serif;

// Font-weight
$fw-bold:700;
$fw-regular:400;


